*{
	margin:0px;
	padding:0px;
}
body, html {
	height:100%;
	font: 400 15px/1.8 "Lato", sans-serif;

}
.bg-img1, .bg-img2, .bg-img3 {
	position:relative;
 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
	min-height:80px;
	background-color:#282E34;
	/*background-color:white;*/
	font-size:18px;
	color:white;
	padding:15px;
	text-align:center;
	line-height:80px;
}
.bg-img1{
    /*background-image: url("http://wallpapershome.com/images/pages/pic_hs/6592.jpg");*/
	/**/
background-image: url("https://c1.staticflickr.com/1/712/22290102206_e71e6de333_b.jpg");

    
    min-height: 96%;
    opacity: 0.85;

}
.bg-img2{
    /*background-image: url("http://i556.photobucket.com/albums/ss1/jwith13/school/big-orange-sun-4.jpg");*/
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819.jpg");*/
    background-image: url("https://pixabay.com/static/uploads/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg");	
    min-height: 100%;
    opacity: 0.75;
}
.bg-img3{
	/*background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f3/Swarm_of_fish_in_the_blue_looking_up%2C_Daedalus_Reef%2C_Red_Sea%2C_Egypt.jpeg");*/
	
	background-image: url(https://c1.staticflickr.com/9/8682/16026201013_e09213920c_b.jpg);
	min-height: 100%;
	opacity: 0.75;
}

#header{
	height:4%;
	background-color:#282E34;
	padding:15px;
	font-size:16px;
	font-weight:bolder;

}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.maintitle {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
  font-weight:bold;
}
.caption span.subtitle {
  color: #fff;
  padding: 18px;
  font-size: 15px;
  font-weight:bold;
  font-weight:lighter;
}
.slider {

  margin: auto;
  width:80%;
  height:400px;
  padding:15px;

}
/*.slider div{
	width:800px;
	height:550px;
	margin: auto;
	color:white;
	font-size:20px;
}*/
.screenshot {
	margin: 40px auto;
	width:80%;
	height:400px;
	background-color:black;
	opacity:0.5;
	padding:20px;
	color:white;
	font-size:40px;
	text-align:left;
}
.sc{
	color:white;
	font-size:20px;
	text-align:center;
}

#header ul{
	list-style: none;
}
#header ul li {
	display:inline;
	margin-right:20px;
}
#header ul li a{
	text-decoration: none;
	color:white;
}
/*#secondcontent{
	position:relative;
	top:-20px;
}*/
